<% if (post.next){ %>
<div class="nav-bottom">
  <div class="container">
    <ul>
      <li class="prev">
        <div class="text">下一篇</div>
        <a href="<%- url_for(post.next.path) %>"><%= post.next.title %></a>
        <p class="excerpt">TODO <a class="more-link no_blank" href="<%- url_for(post.next.path) %>"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></a></p>
      </li>
    </ul>
  </div>
</div>
<% } %>
