<div class="page-content">
  <div class="container">
    <%- partial('_partial/article', {post: page, index: false}) %>
  </div>
  <%- partial('_partial/post/nav', {post: page, index: false}) %>
</div>
