<div class="page-content">
  <div class="container">
    <div class="posts">
      <%- partial('_partial/article', {post: page, index: false}) %>
    </div>
  </div>
  <%- partial('_partial/post/nav', {post: page, index: false}) %>
</div>
