<% if (page.total > 1){ %>
<div class="nav-bottom nav-pagination">
  <div class="container-fluid">
    <ul>
      <% if (page.prev_link) { %>
      <li class="prev"><a class="newer-posts" href="<%- url_for(page.prev_link) %>">较新的日志</a></li>
      <% } else { %>
      <li class="prev">较新的日志</li>
      <% } %>

      <% if (page.next_link) { %>
      <li class="next"><a class="older-posts" href="<%- url_for(page.next_link) %>">较旧的日志</a></li>
      <% } else { %>
      <li class="next">较旧的日志</li>
      <% } %>
    </ul>
  </div>
</div>
<% } %>
