@charset "utf-8";

// variables
$main_color: #4ae0fd;
$main_color: #b92222;
$text_1: #333;
$text_2: #666;
$text_3: #999;
$border_1: #ddd;
$link_1: #4ae0fd;
$warning_1: #d97f7f;

// new color vars
$gray_color: #f2f2f2 !default;
$border_color: #ddd;

$branding_height: 200px;
$content_font_size: 18px;
$title_size: 30px;
$spacing_1: 40px;

$article_width: 800px;

$title_size_m: 20px;

$sans_font: "roboto","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft Yahei",sans-serif;
$sans_font_ie: "Microsoft Yahei",Arial,sans-serif;
$serif_font: "Droid serif", georgia, serif;


@import
  "mixin",
  "base",
  "layout",
  "fonts",
  "mobilemenu"
;

// @import "hljs/atelier-estuary-light";
@import "hljs/github-gist";
